{% extends "layout.twig" %}

{% block body %}

<div class="row" style="justify-content: center; margin-top: 40px;">
    <h1>Acerca de Nosotros</h1>
</div>
<div class="row" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="offset-md-2 col-md-4">
        <img src="/images/about.jpg" alt="acerca-mobiliaria-isacc">
    </div>
    <div class="col-md-4">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae et neque rem inventore minima, eius suscipit eum laborum fugit ratione odit esse. Laudantium fuga quidem doloremque corporis enim accusantium modi.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae et neque rem inventore minima, eius suscipit eum laborum fugit ratione odit esse. Laudantium fuga quidem doloremque corporis enim accusantium modi.</p>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock body %}