{% extends "layout.twig" %}

{% block body %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleFade" data-slide-to="1"></li>
        <li data-target="#carouselExampleFade" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-carousel"
                src="https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818"
                alt="slide-mobiliaria-isacc-1">
        </div>
        <div class="carousel-item ">
            <img class="img-carousel"
                src="https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af"
                alt="slide-mobiliaria-isacc-2">
        </div>
        <div class="carousel-item">
            <img class="img-carousel"
                src="https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327"
                alt="slide-mobiliaria-isacc-3">
        </div>
        <div class="row icon-container">
            <div class="carousel-caption">
                <h1><b>comedores.</b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div style="margin-top: 20px;" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <a href="/productos/catalogo/ofertas">
                        <img class="d-block w-100" style="border-radius: 5%;"
                            src="https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327"
                            alt="slide-mobiliaria-oferta-isacc">
                    </a>
                </div>
                <div class="panel-footer">
                    <h3 class="home-h3"><b>ofertas<span class="home-span">.</span></b></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <a href="/productos/catalogo/promociones">
                        <img class="d-block w-100" style="border-radius: 5%;"
                            src="https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327"
                            alt="slide-mobiliaria-promociones-isacc">
                    </a>
                </div>
                <div class="panel-footer">
                    <h3 class="home-h3"><b>promociones<span class="home-span">.</span></b></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <a href="/productos/catalogo/nuevos_productos">
                        <img class="d-block w-100" style="border-radius: 5%;"
                            src="https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327"
                            alt="slide-mobiliaria-nuevos-productos-isacc">
                    </a>
                </div>
                <div class="panel-footer">
                    <h3 class="home-h3"><b>nuevos productos <span class="home-span">.</span></b></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 20px;" class="container">
    <div class="row">
        <h3 class="home-h3"><b>Productos <span class="home-span">destacados.</span></b></h3>
    </div>
    <div class="row">
        {% for items in destacados %}
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img class="d-block w-100" src={{ 'http://45.33.63.248/uploads/misaac/'~ items.foto }}
                         alt="slide-mobiliaria-destacado-isacc">
                </div>
                <div class="panel-footer">
                    <div class="row" style="text-align: center;">
                        <h6><b>{{items.nombre}}</b></h6>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>
                                <p>$ {{items.precioMostrar}}</p>
                            </h5>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary routePage button-general"
                                onclick="routePage('{{items.slug}}')" data-id={{items.slug}}>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="row">
    <div></div>
</div>
{% endblock body %}