<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mobiliaria</title>
    <meta name="principal" content="pagina principal para venta y comunicacion de muebles isacc">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="/css/slide.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/header.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/footer.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/galery.css" rel="stylesheet" id="bootstrap-css">
    <script src="/js/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <div class="logo-navbar">
                <a href="/">
                    <img id="logo-img-navbar" src="/images/Isaac-Logo.png"
                        alt="slide-mobiliaria-logo-isacc">
                </a>
            </div>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse custom-toggler" id="navbarColor02">
                <ul class="nav navbar-nav ml-auto">
                    <h4 style="margin-left:20px;">
                        <li>
                            <a class="nav-link"
                                href={{"/"}}>Inicio</a>
                        </li>
                    </h4>
                    {% for links in tipoArticulos %}
                    <h4 style="margin-left:20px;">
                        <li>
                            <a data-id={{ ''~ links.slug }} class="nav-link"
                                href={{"/productos/"~ links.slug}}>{{ links.nombre }}</a>
                        </li>
                    </h4>
                    {% endfor %}
                </ul>
                <form class="form-inline my-2 my-lg-0" style="margin-right: 4%;">
                    <input class="form-control mr-sm-2 btn-buscar" style=" width: 100px;" type="text"
                        placeholder="Buscar" onkeypress="runScript(event)">
                    <i class="fas fa-search"></i>
                </form>
            </div>

        </div>
    </nav>
    {% block body %}
    {% endblock %}

    <footer class="footer-bs">
        <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
                <div class="logo-navbar-footer">
                    <img id="logo-img-navbar" align="right" src="/images/Isaac-Logo-Black.png"
                    alt="slide-mobiliaria-logo-footer-isacc">>
                </div>
            </div>
            <div class="col-md-3 footer-nav animated fadeInUp">
                <h4><b>Compañia</b></h4>
                <div class="col-md-12">
                    <ul class="pages">
                        <li><a href="/acerca">Acerca de nosotros</a></li>
                        <li><a href="/sucursales">Sucursales</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-nav animated fadeInDown">
                <h4><b>Contactos</b></h4>
                <div class="col-md-12">
                    <ul class="pages">
                        <li><a href="#">Lunes a Viernes 09:00 - 18:00</a></li>
                        <li><a href="#">info@isacc.com.ec</a></li>
                        <li><a href="#">Cel. 09833524160</a></li>
                        <li><a href="#">Tef. 042598463</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-nav animated fadeInRight">
                <h4><b>Redes Sociales</b></h4>
                <div class="col-md-12">
                    <ul class="pages">
                        <div class="row">
                            <div class="col-md-2"><i class="fab fa-facebook-f"></i></div>
                            <div class="col-md-10">
                                <li><a href="https://www.facebook.com/issac.muebles/">Facebook</a></li>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><i class="fab fa-instagram"></i></div>
                            <div class="col-md-10">
                                <p>Instagram</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><i class="fab fa-youtube"></i></div>
                            <div class="col-md-10">
                                <p>Youtube</p>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>