{% extends "layout.twig" %}

{% block body %}

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active">{{slug}}</li>
        </ol>
    </div>
</div>

<div class="row" style="margin-left: 10px;" <div class="col-md-12 ">
    <h2>
        <p style="text-transform: capitalize">{{slug}}</p>
    </h2>
</div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    {% if subTipos is not empty %}
                        <div class="panel-heading">
                            <h3 class="panel-title">Categorias del Productos</h3>
                        </div>
                        <div class="panel-body">
                            {% for items in subTipos %}
                                <a href={{"/productos/"~ items.slug}}> {{items.nombre}}</a>
                                <br>
                                <hr>
                            {% endfor %}

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 10px;">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body" style="color:#808080;text-align: center;">
                    <h4 class="card-title">¿Tienes dudas?</h4>
                    <p class="card-text">Comunicate con nosotros.</p>
                    <h4 class="card-title">098335264</h4>
                    <p class="card-text">info@isacc.com.ec</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% for items in articulos %}
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img class="d-block w-100" src={{ 'http://45.33.63.248/uploads/misaac/'~ items.foto }}
                             alt="slide-mobiliaria-articulo-isacc">
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <p>{{items.nombre}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>$ {{items.precioMostrar}}</p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary routePage button-general"
                                    onclick="routePage('{{items.slug}}')" data-id={{items.slug}}>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}