{% extends "layout.twig" %}

{% block body %}

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Productos</a></li>
            <li class="breadcrumb-item active">{{articulo.slug}}</li>
        </ol>
    </div>
</div>


<!-- Container for the image gallery -->
<div class="row">
    <div class="offset-md-1 col-md-4">
        <div class="container">
            {% for items in fotos %}
            <div class="mySlides">
                <img src={{ 'http://45.33.63.248/uploads/misaac/'~ items  }} style="width:100%"
                     alt="slide-producto-fotos-isacc">
            </div>
            {% endfor %}

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Thumbnail images -->
            <div class="row" style="margin-top: 20px;">
                {% for items in fotos %}
                <div class="column" style="margin-left: 20px;">
                    <img class="demo cursor" src={{ 'http://45.33.63.248/uploads/misaac/'~ items  }} style="width:100%"
                        onclick="currentSlide('{{loop.index}}')" data-id={{loop.index}}
                        alt="slide-mobiliaria--mini-oferta-isacc">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="offset-md-1 col-md-5">
        <div class="row">
            <h4 >{{articulo.nombre}}</h4>
        </div>
        <div class="row">
            <h4>{{articulo.descripcion}}</h4>
        </div>
        {% for items in caracteristicas %}
        <div class="row">
            <div class="col-md-3">
                <h5><p>{{items.nombre}}</p></h5>
            </div>
            <div class="offset-md-1 col-md-8">
                <p>{{items.valor}}</p>
            </div>
        </div>
        {% endfor %}
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h5><p>$ {{articulo.precioMostrar}}</p></h5>
            </div>
            <div class="offset-md-1 col-md-8">
                <button class="button-general" data-toggle="modal" data-target="#exampleModal"> Contactar </button>
            </div>
        </div>
        <hr>

    </div>
    <div class="col-md-1"></div>

</div>

<div style="margin-top: 70px;" class="container">
        <div class="row">
            <h3 class="home-h3">Te Puede  <span class="home-span">interesar.</span></h3>
        </div>
        <div class="row">
            {% for items in destacados %}
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img class="d-block w-100" src={{ 'http://45.33.63.248/uploads/misaac/'~ items.foto }}
                        alt="slide-mobiliaria-producto-venta-isacc">
                    </div>
                    <div class="panel-footer">
                        <div class="row" style="text-align: center;">
                            <h6>{{items.nombre}}</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>
                                    <p>$ {{items.precioMostrar}}</p>
                                </h5>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary routePage button-general"
                                    onclick="routePage('{{items.slug}}')" data-id={{items.slug}}>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    
    <div class="row">
        <div></div>
    </div>


    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contactar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action="/send-email" method="post">
                    <br style="clear:both">
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="slug" placeholder="email" value="{{articulo.slug}}" hidden>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="nombre" placeholder="email" value="{{articulo.nombre}}" hidden>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="descripcion" placeholder="email" value="{{articulo.descripcion}}" hidden>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="precioMostrar" placeholder="email" value="{{articulo.precioMostrar}}" hidden>
                    </div>
                    {% for items in caracteristicas %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="{{items.nombre}}" placeholder="email" value="{{items.nombre}} - {{items.valor}}" hidden>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="email" class="form-control" id="subject" name="subject" placeholder="email" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Mensaje" maxlength="140" rows="7" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right btn-submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}