.footer-bs {
    background-color: gainsboro;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:#586575;}
.footer-bs .footer-nav ul.pages a:hover { color:darkcyan; text-decoration:none; }
.footer-bs .footer-nav h4 {
	color: #586575;
	font-size: 20px;
	margin-bottom:10px;
}
.footer-nav a {
	font-size: 15px;
	margin-bottom:10px;
	font-weight: normal;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:#586575; }
.footer-bs .footer-nav ul.list a:hover { color:darkcyan; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	color: #586575;
	font-size: 20px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:#586575;}
.footer-bs .footer-social a:hover { color:darkcyan; text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 20px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-nav p {
	color:#586575;
}
.footer-nav i { color:black; }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 2px #A8A8A6; }
}

.logo-navbar-footer{
	height: 75px;
}

.breadcrumb {
		background-color: white;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: black;
    content: "|";
    padding: 0 5px;
}

