.logo-navbar {
    width: 140px;
    margin-left: 3%;
}

#logo-img-navbar{
    max-width: 100%;
    max-height: 100%;
}

.logo-navbar-footer{
    max-width: 150px;
    float:right;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }


.panel-body {
    padding: 15px; }
    .panel-body:before, .panel-body:after {
        content: " ";
        display: table; }
    .panel-body:after {
        clear: both; }  
  
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
    .panel-heading > .dropdown .dropdown-toggle {
        color: inherit; }
  
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit; }
    .panel-title > a,
    .panel-title > small,
    .panel-title > .small,
    .panel-title > small > a,
    .panel-title > .small > a {
        color: inherit; }
  
.panel-footer {
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }

.panel-primary {
    border-color: #337ab7; 
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7; 
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #337ab7; 
}
.panel-primary > .panel-heading .badge {
    background-color: #fff; 
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #337ab7; 
}
  

img {
    border: 0; 
}

img {
    page-break-inside: avoid; 
}

img {
    max-width: 100% !important; 
    height: auto;
}


img {
    vertical-align: middle; 
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto; 
}

.img-rounded {
    border-radius: 6px; 
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto; 
}

.img-circle {
    border-radius: 50%; 
}

.button-general{
    border: 2px solid orange;
    color: orange;
    background-color: white;
    border-color: orange;
    border-radius: 20px;
    
}

.button-general:hover {
    border-color: orange;
    background-color: orange;
    color: white;
  }


.bg-dark {
    background-color: #141823!important;
}

.btn-buscar{
    background-color: #141823!important;
    border-color: #141823;
    color: white;
}

.btn-buscar:focus, input:focus {
    color: white;
    border-color: #141823;
}

.btn-buscar, select, textarea{
    color: white;
    border-color: #141823;
}

.btn-buscar{
    text-align: right; 
    margin-left: 20px;
}
body{
    font-family: "Calibri Light";
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size:1.5vw;
}

.navbar a:hover{
    text-decoration: underline;
    text-decoration-color: orange;
}


.custom-toggler.navbar-toggler {
    border-color: rgb(255, 165, 0);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 165, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.fa-search {
    color: orange;
}