.home-h3{
    color: black;
}
.home-span{
    color: orange;
}


.carousel-indicators {
    text-align: right;
    float: right;
    right: 2% !important;
    left: inherit;
}

.carousel-indicators >li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: silver;
}

.carousel-indicators .active{
    background-color: orange;
}

.card-carousel{
    z-index: 5;
}

#carouselExampleFade .carousel-inner{
    margin: auto;
    width: 90%;
    max-height: 500px;
    min-height: 100px;
}

.img-carousel .carousel-inner{
    height: 100%;
}

.card-carousel{
    text-align: left;
    float: left;
}

.icon-container{
    height: 50px;;
    background-color: white;
    position:absolute;
    bottom:0px;
    left:0;
    right:0;
    z-index: 1;
    width: -webkit-fill-available;
 }


 .carousel-caption {
    
    background: rgba(0, 0, 0, 0.5);
    -pie-background:  rgba(0, 0, 0, 0.5);
    behavior: url(PIE.htc);
    bottom:0px;
    color: white;
    font-weight: bold;
    font-size: 80px;
    left: 0%;
    z-index: 999;
    max-width: 400px;
    text-align: center;
    margin-left: 5%;
  }

  .carousel-caption h1{
      margin-left: 20px;
      text-align: left;
      color: white;
  }

.carousel-caption p{
    font-size: 18px;
    margin-left: 20px;
    text-align: left;
    color: white;
}